:root {
  --primary-color:#ffffff;
  --secondary-color: aliceblue;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ads {
  width: 100%;
  text-align: center;
}

/** Header */
header, footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

nav {
  z-index: 1;
  min-width: 250px;
  max-width: 1140px;
  width: 1140px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black 2px;
  padding: 0 1rem;
  background-color: var(--primary-color);
}

nav p#logo, #slidebar #logo p {
  font-size: 2rem;
  font-weight: bold;
}

nav p#logo, #foot-wrap p {
  margin: 0 auto 0 0;
}

#logo span{
  font-size: 2rem;
  animation: blink 1s infinite step-start;
}

#navlink a, #foot-link a, .sidebar-tags div a{
  margin: .1rem;
  padding: .2rem;
  cursor: pointer;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#menu {
  display: none;
}

#close {
  position: absolute;
  right: 16px;
}

#menu a, #logo #close {
  display: flex;
  align-items: center;
  text-align: center;
}

/** Sidebar */
#slidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
  transition: .5s ease-in-out;
  background-color: var(--primary-color);
}

#slidebar #logo {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 2px;
  margin: 0 1rem;
  box-sizing: border-box;
}

#slidebar #logo p {
  margin: 0 auto;
  align-items: center;
}

#slidelink {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

#slidelink a {
  padding: .5rem .5rem 0;
}

/** End Header*/

/** Main */
main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--secondary-color);
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  gap: 1rem;
  padding: 1rem;
}

/** Login Form */
#login-form {
  width: 100%;
  margin: 1rem 0rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-wrapper{
  width:  fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
  gap: 1vh;
  filter: drop-shadow(0px 0px 2px);
  border-radius: 1rem;
  background-color: var(--secondary-color);
}

#user-wrap, #pass-wrap {
  display: flex;
  flex-direction: column;
}

#user-wrap input, #pass-wrap input, #input-wrapper button {
  padding: .5vh;
  background-color: var(--primary-color);
  border: solid 1px;
  border-radius: 5px;
}

#input-wrapper button{
  width: 5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
}
#input-wrapper button:hover {
  background-color: rgb(130, 161, 255);
  width: 4rem;
}

/** Cards Section */
#post-cards {
  width: 100%;
}

#post-cards, #sidebar .sticky {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cards, .sidebar-tags, #support-us, .post {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
  border-radius: .3rem;
  filter: drop-shadow(0px 0px 1px);
  background-color: var(--primary-color);
}

.cards-title, .post-title {
  font-size: 1.8rem;
  font-weight: 100;
  text-decoration: underline;
}

.cards-title:hover {
  color: royalblue;
}

.wrap-shortdesc img {
  min-width: 250px;
  width: 300px;
  height: 100%;
  transition: .3s;
  opacity: .5;
}

.wrap-shortdesc img:hover {
  transform: scale(1.01);
  opacity: 1;
}

.wrap-shortdesc {
  display: flex;
  gap: .5rem;
}  

.shortdesc {
  width: 100%;
}

#sidebar .sticky{
  position: sticky;
  top: 1rem;
  text-align: center;
}

.sidebar-tags {
  display: flex;
  flex-direction: column;
}

#title-tags, #support-us p {
  font-size: 1.4rem;
}

.sidebar-tags div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sidebar-tags div a {
  background-color: rgb(230, 230, 230);
  transition: .3s;
}

.sidebar-tags div a:hover {
  background-color: rgb(205, 205, 205);
}

/** Post Section */
.post {
  width: 100%;
}

/** End Main */

/** Footer */
footer {
  width: 100%;
  height: 100%;
}

#foot-wrap {
  display: flex;
  align-items: center;
  width: 1100px;
  max-width: 1100px;
  padding: 1rem 4rem;
  border-top: solid black 2px;
  background-color: var(--primary-color);
}

#foot-wrap p {
  margin: 0 0 0 auto;
}

#foot-link {
  display: flex;
  flex-wrap: wrap;
}

/** End Footer */

@media screen and (max-width: 850px) {
  .wrap-shortdesc img {
    width: 250px;
  }
}

/* ? TABLET */
@media screen and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
    padding: 1.5rem;
  }

  .wrap-shortdesc {
    flex-direction: row;
    align-items: start;
  }

  #sidebar {
    width: 100%;
  }

  * Footer Section
  footer {
    height: 100%;
  }
  #foot-wrap p {
    margin: 0;
  }
  #foot-wrap {
    flex-direction: column;
  }
  #foot-link {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .cards-title, .post-title {
    font-size: 1.3em;
  }
  
  .wrap-shortdesc {
    flex-direction: column;
  }
  
  .wrap-shortdesc img {
    width: 100%;
  }
}

/* ? PHONE */
@media screen and (max-width: 425px) {
  #navlink {
    display: none;
  }

  #menu {
    display: block;
  }
  
  .cards-title, .post-title {
    font-size: 1.2em;
  }
}